<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Many Tricks</string>
	<key>Builder Version</key>
	<string>11601.4.4</string>
	<key>CFBundleDisplayName</key>
	<string>Unread → Tabs</string>
	<key>CFBundleIdentifier</key>
	<string>com.manytricks.Safari.UnreadTabs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1018</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>Global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>com.manytricks.UnreadTabs.Toolbar.Open</string>
				<key>Image</key>
				<string>Toolbar.png</string>
				<key>Include By Default</key>
				<false/>
				<key>Label</key>
				<string>Unread → Tabs</string>
				<key>Tool Tip</key>
				<string>Open unread posts in new tabs</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>Inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Use a contextual menu item to open all unread forum posts in new tabs, with just one click.</string>
	<key>DeveloperIdentifier</key>
	<string>METK467GW2</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://manytricks.com/safariextensions/updatemanifest.plist</string>
	<key>Website</key>
	<string>http://manytricks.com</string>
</dict>
</plist>
